.first-block
      img.first-block__logo(src="images/logo.jpg" alt="")
      .first-block__header Стоимость вашего проекта от 
      .first-block__price 8888$
      .first-block__description Оставить заявку на точный расчет:
      form.third-block__form
            input.third-block__input(placeholder="+38 (0..)" type="text" minlength="9" maxlength="9")
            input.first-block__button(type="submit" value="Заказать" disabled)