.wrapper-item.next
    .second-block
        img.second-block__logo(src="images/logo.jpg"  alt="")
        .second-block__header Выберите тип сайта:
    .gallery.next
        button.gallery__block(value="landing" onclick="radio(this)")
            img.gallery__block-img(src="images/web-site_(1).png")
            .gallery__block-header Landing pages
                
        button.gallery__block(value="card" onclick="radio(this)")
            img.gallery__block-img(src="images/web-site.png")
            .gallery__block-header сайт визитка
                
        button.gallery__block(value="corporate" onclick="radio(this)" )
            img.gallery__block-img( src="images/group.png")
            .gallery__block-header Корпоративный сайт
            
        button.gallery__block(value="promo" onclick="radio(this)")
            img.gallery__block-img( src="images/megaphone.png")
            .gallery__block-header промо сайт
                
        button.gallery__block(value="shop" onclick="radio(this)")
            img.gallery__block-img(src="images/laptop.png")
            .gallery__block-header интеренет магазин
                
        button.gallery__block(value="app" onclick="radio(this)")
            img.gallery__block-img(src="images/app.png")
            .gallery__block-header Сервисное приложение