.first-block
      img.first-block__logo(src="images/logo.jpg" alt="")
      .first-block__header Узнайте стоимость проекта онлайн
      .first-block__description Пройдите тест для расчета предварительной стоимости проекта
      input.first-block__button.next(type="button" name="next"  value="Начать тест")